{% extends 'base.html' %}
{% block content %}
    <h3>About</h3>
    <p>Jochen Maes has written this to be a valid replacement for atomiadns-webapp.</p>
    <p>The current webapp wasn't functional enough and missed a way to import bind formatted blocks.</p>
    <p>In the time (more than a year) he used it, the version was never updated. However because he wrote pyatomiadns he was able to write a fully working version.</p>
    <p>Features to be added:
    <ul>
        <li>change password</li>
        <li>backup all domains and download to .gz</li>
        <li>...</li>
    </ul>
    </p>
    <p>You can contact Jochen Maes there: jochen@sejo-it.be.</p>
{% endblock content %}