{% extends 'base.html' %}
{% block content %}
    <form method="POST" action="/change_password">
    {% csrf_token %}
    <div class="container col-lg-12">
        <h3>Change password for user: {{ request.session.username }}</h3><br/><br/>
        <div class="row" style="margin-bottom: 15px;">
            <div class="col-lg-3">old password:</div>
            <div class="col-lg-2"><input type="password" name="old_pass"></div>
        </div>
        <div class="row" style="margin-bottom: 15px;">
            <div class="col-lg-3">password:</div>
            <div class="col-lg-2"><input type="password" name="pass"></div>
        </div>
        <div class="row" style="margin-bottom: 15px;">
            <div class="col-lg-3">confirm password:</div>
            <div class="col-lg-2"><input type="password" name="conf_pass"></div>
        </div>
    </div>
    <button class="col-lg-offset-2 btn-danger" onclick="change_password();">change</button>
    </form>
{% endblock content %}
{% block scripts %}
    <script language="JavaScript">
        function change_password() {
            var old_pass = $('input[name=old_pass]').val();
            var pass = $('input[name=conf_pass]').val();
            var conf_pass = $('input[name=conf_pass]').val();
            var ok = true;
            if (!old_pass) {
                $.bootstrapGrowl("Please provide your old password",
                        {
                            delay: 10000,
                            type: "danger",
                            allow_dismiss: true
                        });
                ok = false;
            }
            if (pass != conf_pass) {
                $.bootstrapGrowl("Password and confirmation should be the same.",
                        {
                            delay: 10000,
                            type: "danger",
                            allow_dismiss: true
                        });
                ok = false;
            }
            if (ok) $('form').submit();
        }
    </script>
{% endblock scripts %}