{% extends 'base.html' %}
{% block content %}
    <h3>Import Zone {{ zone }}</h3>
    <textarea name="data" class="col-lg-12" style="height: 500px; margin-bottom: 15px;">
    </textarea>
    <select name="import_type">
        <option value="atomia">AtomiaDnsBinary</option>
        <option value="bind">BindBinary</option>
    </select>
    <button class="btn-danger" onclick="import_zone('{{ zone }}');">import</button>
{% endblock content %}
{% block scripts %}
    <script language="JavaScript" src="{{ STATIC_URL }}js/zones.js"></script>
{% endblock scripts %}